v-content
    v-snackbar(
        v-model="snackbar"
        :timeout="snackbarTimeout"
    ) {{ snackbarText }}
    v-overlay(:value="overlay")
        v-btn(
            icon
            @click="overlay = false"
        )
            v-icon mdi-close
        p(v-show="!!passwordMessage") {{ passwordMessage }}
        PasswordInput(@change="onPasswordInput")

    v-container.fill-height
        v-col
            v-data-table.elevation-1(
                v-model="selected"
                :headers="headers"
                :items="items"
                :single-select="false"
                item-key="id"
                show-select
            )
                template(v-slot:top)
                    v-toolbar(flat)
                        v-spacer
                        //- v-text-field(
                        //-     label="Search"
                        //-     single-line
                        //-     hide-details
                        //- )
                        v-btn.mb-2(
                            color="primary"
                            dark
                            @click.stop="newItem = { id: null, name: '[name]', secret: '[secret]', edit: true, show: false }"
                        ) New Item
                
                template(v-slot:item.actions='{ item }')
                    ActionTooltip(@click="item.edit ? (item.decryptedSecret = getRandomPassword(8)) : (toggle(item))" :icon="item.edit ? 'lock-question' : item.show ? 'eye' : 'eye-off'") {{ item.edit ? 'Random' : item.show ? 'Hide' : 'Show' }}
                    ActionTooltip(@click="itemToEdit = cloneDeep(item), item.edit = !item.edit, item.show = false" :icon="item.edit ? 'cancel' : 'pencil'") {{ item.edit ? 'Cancel' : 'Edit'}}
                    ActionTooltip(@click="item.edit ? (update(item), item.edit = false) : (copy(item))" :icon="item.edit ? 'content-save' : 'content-copy'") {{ item.edit ? 'Save' : 'Copy to clipboard' }}
                template(v-slot:item.name='{ item }')
                    v-text-field(
                        type="text"
                        v-model="item.name"
                        :name="item.id"
                        :disabled="!item.edit"
                    )
                template(v-slot:item.secret='{ item }')
                    v-text-field(
                        :value="(item.show && !!item.decryptedSecret) ? item.decryptedSecret : null"
                        placeholder="######"
                        :type="item.show && !item.edit ? 'text' : 'password'"
                        :name="item.id"
                        :disabled="!item.edit"
                        :loading="!item.decryptedSecret && item.show"
                        @change="item.decryptedSecret = $event"
                    )
